@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --blue-demon: #022f58;
    --lemon-color: #64A50D;
    --avocadoi-color: #9DD750;
    --bg-color: #e4e4e4;
    --text-color: #0c0c0c;
}

@media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #0c0c0c;
      --text-color: #e4e4e4;
  }
}



.blueDemon{
    color: var(--blue-demon);
}